.main {
  margin: 2.5rem auto;
  width: 90%;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
}

.main img {
    width: 50rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -10rem;
}